body, html {
	 padding: 0;
	 margin: 0;
	 height: 100%;
}

.khoi { 
	 height: 100%;
}

.chung {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.chung > section {
	position: absolute;
	width: 50%;
	height: 50%;
}

.anh {
	background-color: #8279708a;
	width: 100%;
	height: 34%;
	position: absolute;
	z-index: 1;
	bottom: 0;
}
.anh p{
	font-size: 2em;
	color: white;
	z-index: 2;
	position: absolute;
	top: 27%;
	left: 34%;
}

.chung > section:first-child {
	top: 0;
	left: 0;
	background-image: url(images/jpg/blond-hair-chairs-coffee-2041627.jpg);
	background-size: cover;
	background-position: center;
}

.chung > section:nth-child(2) {
	top: 0;
	left: 50%;
	background-image: url(images/jpg/blond-hair-chairs-coffee-2041627.jpg);
	background-size: cover;
	background-position: center;
}

.chung > section:nth-child(3) {
	top: 50%;
	left: 0;
	background-image: url(images/jpg/blond-hair-chairs-coffee-2041627.jpg);
	background-size: cover;
	background-position: center;
}

.chung > section:nth-child(4) {
	top: 50%;
	left: 50%;
	background-image: url(images/jpg/blond-hair-chairs-coffee-2041627.jpg);
	background-size: cover;
	background-position: center;
}