@charset "UTF-8";
body {
  background: #333333;
}

.container {
  width: 60%;
  margin: auto;
  padding: 50px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Meiryo, メイリオ, Osaka, "MS PGothic", arial, helvetica, sans-serif;
}
.container section {
  padding: 0 30px;
  margin-bottom: 60px;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}
h1::after {
  display: block;
  content: "";
  width: 30px;
  margin: auto;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #666666;
}

/*-----  ベーススタイル -----*/
.hamburger {
  width: 50px;
  margin: auto;
}
.hamburger .menu_icon {
  position: relative;
  width: 50px;
  height: 35px;
  margin: 0 auto 10px;
}
.hamburger .border {
  position: absolute;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  transition: all 0.3s;
  background: #ffffff;
}
.hamburger .border1 {
  top: 0;
}
.hamburger .border2 {
  top: 0;
  bottom: 0;
  margin: auto;
}
.hamburger .border3 {
  bottom: 0px;
}
.hamburger .text {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  transition: all 0.3s;
}
.hamburger .text::after {
  display: block;
  content: "MENU";
}
.hamburger .active + .text::after {
  content: "CLOSE";
}

/*-----  ベーススタイルここまで -----*/
.type1 .menu_icon:hover .border1 {
  transform: translateX(5px);
}
.type1 .menu_icon:hover .border3 {
  transform: translateX(5px);
}
.type1 .active .border1 {
  transform: translateX(0) translateY(16px) rotate(45deg) !important;
}
.type1 .active .border2 {
  opacity: 0;
}
.type1 .active .border3 {
  transform: translateX(0px) translateY(-16px) rotate(-45deg) !important;
}

.type2 .menu_icon:hover .border1 {
  transform: translateY(3px);
}
.type2 .menu_icon:hover .border3 {
  transform: translateY(-3px);
}
.type2 .active .border1 {
  transform: translateY(16px) rotate(45deg) !important;
}
.type2 .active .border2 {
  left: 80%;
  opacity: 0;
}
.type2 .active .border3 {
  transform: translateX(0px) translateY(-16px) rotate(-45deg) !important;
}

.type3 .menu_icon {
  transform: rotate(0);
  transition: all 0.3s;
}
.type3 .menu_icon .border1 {
  width: 100%;
}
.type3 .menu_icon .border2 {
  width: 50%;
}
.type3 .menu_icon .border3 {
  width: 80%;
}
.type3 .menu_icon:hover .border2 {
  width: 100%;
}
.type3 .menu_icon:hover .border3 {
  width: 100%;
}
.type3 .active {
  transform: rotate(360deg);
}
.type3 .active .border1 {
  transform: translateY(16px) rotate(-45deg);
  width: 100%;
}
.type3 .active .border2 {
  opacity: 0;
}
.type3 .active .border3 {
  transform: translateY(-16px) rotate(45deg);
  width: 100%;
}

.type4 {
  overflow: hidden;
}
.type4 .border {
  background: transparent;
}
.type4 .border::before {
  position: absolute;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background: #ffffff;
  transition: all 0.3s;
}
.type4 .border::after {
  position: absolute;
  left: -100px;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background: #ffffff;
  transition: all 0.3s;
}
.type4 .border1::before,
.type4 .border2::before,
.type4 .border3::before {
  transition: all 0s linear;
}
.type4:hover .border::before {
  left: 100px;
}
.type4:hover .border::after {
  left: 0;
}
.type4:hover .border1::before {
  transition: all 0.2s linear;
}
.type4:hover .border1::after {
  transition: all 0.2s linear;
}
.type4:hover .border2::before {
  transition: all 0.25s linear;
}
.type4:hover .border2::after {
  transition: all 0.25s linear;
}
.type4:hover .border3::before {
  transition: all 0.3s linear;
}
.type4:hover .border3::after {
  transition: all 0.3s linear;
}
.type4 .border1 {
  animation: type4_menu_bar01 0.5s;
  animation-fill-mode: forwards;
}
.type4 .border3 {
  animation: type4_menu_bar03 0.5s;
  animation-fill-mode: forwards;
}
.type4 .active .border {
  background: #ffffff;
  transition: none;
}
.type4 .active .border::before {
  transition: none;
}
.type4 .active .border::after {
  transition: none;
}
.type4 .active .border1 {
  animation: type4_active_menu_bar01 0.5s forwards;
}
.type4 .active .border2 {
  opacity: 0;
}
.type4 .active .border3 {
  animation: type4_active_menu_bar03 0.5s forwards;
}
@keyframes type4_menu_bar01 {
  0% {
    transform: translateY(16px) rotate(45deg);
  }
  50% {
    transform: translateY(16px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
@keyframes type4_menu_bar03 {
  0% {
    transform: translateY(-16px) rotate(-45deg);
  }
  50% {
    transform: translateY(-16px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
@keyframes type4_active_menu_bar01 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(16px) rotate(0);
  }
  100% {
    transform: translateY(16px) rotate(45deg);
  }
}
@keyframes type4_active_menu_bar03 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-15px) rotate(0);
  }
  100% {
    transform: translateY(-15px) rotate(-45deg);
  }
}
.type5 {
  width: 80px;
  height: 80px;
}
.type5 .menu_icon {
  margin-top: 44px;
}
.type5 .menu_icon::before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -44px 0 0 -44px;
  display: block;
  content: "";
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 4px solid transparent;
}
.type5 .active .border1 {
  transform: translateY(16px) rotate(45deg);
}
.type5 .active .border2 {
  left: 50%;
  opacity: 0;
  animation: type5_active_menu_bar02 0.8s forwards;
}
.type5 .active .border3 {
  transform: translateY(-16px) rotate(-45deg);
}
.type5 .active::before {
  animation: circle 0.3s 0.25s forwards;
}
@keyframes type5_active_menu_bar02 {
  100% {
    height: 0;
  }
}
@keyframes circle {
  0% {
    border-color: transparent;
    transform: rotate(0);
  }
  25% {
    border-color: transparent #ffffff transparent transparent;
  }
  50% {
    border-color: transparent #ffffff #ffffff transparent;
  }
  75% {
    border-color: transparent #ffffff #ffffff #ffffff;
  }
  100% {
    border-color: #ffffff;
    transform: rotate(360deg);
  }
}
